        <div class="wrapper">
        <div id="sidebar">
            <div class="sidebar-header">
                <img style="width:50px;
                                    height:50px;
                                    border-radius:50px;
                                    border:10px sol" class="img-rounded" src="/media/logo.jpeg">
                <h4>Hospital General Pachuca</h4>
            </div>
            <ul class="list-unstyled components" style="justify-content: center; align-items: center">
                <li class="active">
                    <a href="./Inicio.html">
                        <img style="width:25px;
                        height:25px;
                        border-radius:25px;
                        border:10px sol" src="/media/casa.png"> &nbsp;Home
                    </a>
                    <br>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <img style="width:25px;
                        height:25px;
                        border-radius:25px;
                        border:10px sol" src="/media/hdd.png"> &nbsp;Espacios de trabajo
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/media/espacio_trabajo_1.html">Mantenimiento</a>
                        </li>
                        <li>
                            <a href="#" aria-expanded="false">
                                <img style="width:25px;
                                    height:25px;
                                    border-radius:25px;
                                    border:10px sol" src="/media/cruz.png"> &nbsp;Añadir espacio de trabajo
                            </a>
                        </li>
                    </ul>
                    <br>
                    <a href="#">
                        <img style="width:25px;
                            height:25px;
                            border-radius:25px;
                            border:10px sol" src="/media/Ajustes.png"> Configuracion de los espacios de trabajo
                    </a>
                </li>
            </ul>
        </div>

  <div id="content">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav navbar-left">
                        <li class="nav-item active">
                            <button style="width: 50px; height: 50px;" type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <img width="25px" height="30px" src="/media/menu.png">
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="nav-item">
                            <a href="./Inicio.html" style="font-family: Georgia, 'Times New Roman', Times, serif;
                                font-size: xx-large">WhiteHub
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a href="#">Ver soluciones</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="dropdown user-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i> John Smith
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-user glyphicon glyphicon-user"></i> Profile</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-envelope glyphicon glyphicon-envelope"></i> Inbox
                                        <span class="badge">7</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-gear glyphicon glyphicon-gear"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="../Principal.html">
                                        <i class="fa fa-power-off glyphicon glyphicon-log-out"></i> Log Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>


<!-- ||||||||||||||| componentes ||||||||||||-->
<div class="container">
    <h4 style="color: darkcyan">Personalizar Plantilla</h4>
    <p></p>
    <!-- Grid column -->

    <div class="row ">
        <div class="col-sm-6 col-xs-6 col-cd-6 ">
            <section style="width: 42rem;     margin-left: -15px;" class="form-elegant card scrollbar scrollbar-primary thin square">
                <div class=" card-body">
                    <h4 id="section1">
                        <strong>First title of the news</strong>
                    </h4>
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui.
                        Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's
                        photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you
                        probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil
                        tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui.
                        Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's
                        photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you
                        probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil
                        tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                    <h4 id="section1">
                        <strong>First title of the news</strong>
                    </h4>
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui.
                        Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's
                        photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you
                        probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil
                        tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
                    <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui.
                        Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's
                        photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you
                        probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil
                        tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>

                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="col-cd-3 col-lg-3 col-md-3 col-sm-3 offset-lg-9 btn btn-success">
                        Generar Plantilla</button>

                </div>
            </section>
        </div>

        <div class="col-sm-3 col-xs-3 col-cd-3 offset-sm-1 p-2">
            <section style="width: 26rem; " class=" scrollbar-light-blue">
                <div class="card" style="margin-left: 90px; ">
                    <!--Opcion de Texto-->
                    <label></label>
                    <div class="col-cd-11 col-lg-11 col-md-11 col-sm-11 offset-lg-1" style="margin-left: 6px;
                                 margin-right: 5px;">
                        Nombre:
                        <input id="txtNombre" type="text" class="form-control" placeholder=" Ingresar nombre de la queja" aria-describedby="basic-addon2">
                        <label></label>
                    </div>
                    <div class="offset-lg-2 col-cd-8 col-cd-8 col-sm-8">
                        <h5>Componentes</h5>
                        <hr>
                    </div>


                    <div id="Opcion1">
                        <div>
                            <button class="col-cd-10 col-sm-10 col-xs-10  offset-sm-1 btn btn-outline-primary"
                             data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <img width="29px" height="25px" src="/media/documento.png"> Texto

                            </button>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-cd-12 offset-sm-1">

                            <div id="collapseOne" class="collapse multi-collapse"
                             aria-labelledby="headingOne" data-parent="#accordion" style="margin-left: -22px;">

                                <button type="button" class="btn btn-light">
                                    <img width="35px" height="33px" src="/media/Titulo.png">
                                    <div>Titulo</div>
                                </button>
                                <button type="button" class="btn btn-light">
                                    <img width="35px" height="33px" src="/media/subtitulos.png">
                                    <div>Subtitulo</div>
                                </button>
                                <button type="button" class="btn btn-light">
                                    <img width="32px" height="32px" src="/media/Descripcion.png">
                                    <div>Descripcion</div>
                                </button>
                                <button type="button" class="btn btn-light">
                                    <img width="32px" height="32px" src="/media/Separador.png">
                                    <div>Separador</div>
                                </button>
                                <button type="button" class="btn btn-light">
                                    <img width="32px" height="32px" src="/media/lista.png">
                                    <div>Numeros</div>
                                </button>
                            </div>

                        </div>
                    </div>
                    <label></label>
                    <div id="Opcion2">
                        <div>
                            <button class="col-cd-10 col-sm-10 col-xs-10  offset-sm-1 btn btn-outline-primary" data-toggle="collapse" data-target="#collapseOne1"
                                aria-expanded="true" aria-controls="collapseOne1">
                                <img width="29px" height="25px" src="/media/red.png"> Comunicacion
                            </button>
                        </div>
                        <div class="col-sm-12 col-xs-12 col-cd-12 offset-sm-1">

                            <div id="collapseOne1" class="collapse multi-collapse" aria-labelledby="headingOne" data-parent="#accordion" style="margin-left: -22px;">

                                <button type="button" class="btn btn-light">
                                    <img width="32px" height="32px" src="/media/Telefono.png">
                                    <div>Telefono</div>
                                </button>
                                <button type="button" class="btn btn-light">
                                    <img width="32px" height="32px" src="/media/email.png">
                                    <div>Email</div>
                                </button>
                            </div>

                        </div>
                    </div>
                    <label></label>

                    <div id="Opcion3">
                        <div>
                            <button class="col-cd-10 col-sm-10 col-xs-10 offset-sm-1 btn btn-outline-primary" data-toggle="collapse" data-target="#collapseOne2"
                                aria-expanded="true" aria-controls="collapseOne2">
                                <img width="29px" height="25px" src="/media/cargando-desde-la-caja.png"> Subir Contenido</button>

                        </div>
                        <div class="col-sm-12 col-xs-12 col-cd-12 offset-sm-1">
                            <div id="collapseOne2" class="collapse multi-collapse" aria-labelledby="headingOne" data-parent="#accordion" style="margin-left: -22px;">
                                <button type="button" class="btn btn-light">
                                    <img width="32px" height="32px" src="/media/imagenes.png">
                                    <div>Imagenes</div>
                                </button>
                                <button type="button" class="btn btn-light">
                                    <img width="32px" height="32px" src="/media/Documento.png">
                                    <div>Documentos</div>
                                </button>
                                <button type="button" class="btn btn-light">
                                    <img width="32px" height="32px" src="/media/Archivo .zip.png">
                                    <div>Archivos.zip</div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <label></label>
 <div id="Opcion4">
                                    <div>
                                        <button class="col-cd-10 col-sm-10 col-xs-10 offset-sm-1 btn btn-outline-primary" data-toggle="collapse" data-target="#collapseOne3"
                                            aria-expanded="true" aria-controls="collapseOne3">
                                            <img width="29px" height="25px" src="/media/contenido.png"> Mas Herramientas </button>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-cd-12 offset-sm-1">

                                        <div id="collapseOne3" class="collapse multi-collapse" 
                                        aria-labelledby="headingOne" data-parent="#accordion" style="margin-left: -22px;">

                                            <button type="button" class="btn btn-light">
                                                <img width="32px" height="32px" src="/media/calendario.png">
                                                <div>Calendario</div>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <img width="32px" height="32px" src="/media/enlace.png">
                                                <div>Link</div>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <img width="32px" height="32px" src="/media/nota.png">
                                                <div>Lista</div>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <img width="32px" height="32px" src="/media/dinero.png">
                                                <div>Dinero</div>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <img width="32px" height="32px" src="/media/fila-de-celdas-de-hoja-de-calculo.png">
                                                <div>Tabla</div>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <img width="32px" height="32px" src="/media/reloj (1).png">
                                                <div>Reloj</div>
                                            </button>
                                            <button type="button" class="btn btn-light">
                                                <img width="32px" height="32px" src="/media/grabar.png">
                                                <div>Verdadero o Falso</div>
                                            </button>

                                        </div>
                                        <br>
                                    </div>
                                </div>

                </div>
            </section>
        </div>
    </div>
</div>
</div>
</div>
 <script src="/scripts/menu.js"></script>

{{outlet}}