<div class="wrapper">
    <!-- Sidebar Holder -->
    <div id="sidebar">
        <div class="sidebar-header">
            <img style="width:50px;
                                        height:50px;
                                        border-radius:50px;
                                        border:10px sol;
                                        background-color: rgb(13, 108, 185);" class="img-rounded" src="/media/logo.jpeg">
            <h4>Hospital General Pachuca</h4>
        </div>
        <ul class="list-unstyled">
            <li class="active">
                <a href="/#/inicio">
                    <img style="width:25px;
                            height:25px;
                            border-radius:25px;
                            border:10px sol" src="/media/casa.png"> &nbsp;Home
                </a>
                <br>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    <img style="width:25px;
                            height:25px;
                            border-radius:25px;
                            border:10px sol" src="/media/hdd.png"> &nbsp;Espacios de trabajo
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        {{#link-to "notificaciones" class="btn btn-primary"}}Mantenimiento{{/link-to}}
                    </li>
                    <li>
                        <a href="#" aria-expanded="false">
                            <img style="width:10px;
                                        height:10px;
                                        border-radius:10px;
                                        border:10px sol" src="/media/cruz.png"> &nbsp;Añadir espacio de trabajo
                        </a>
                    </li>
                </ul>
                <br>
                <a href="#">
                    <img style="width:25px;
                                height:25px;
                                border-radius:25px;
                                border:10px sol" src="/media/Ajustes.png"> Configuracion de los espacios de trabajo
                </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- /#sidebar-wrapper -->
    <!-- Page Content Holder -->
    <div id="content" class="">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-left">
                    <li class="nav-item active">
                        <button style="width: 50px; height: 50px;" type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <img width="25px" height="30px" src="/media/menu.png">
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="nav-item">
                        <a href="/#/inicio" style="font-family: Georgia, 'Times New Roman', Times, serif;
                                    font-size: xx-large">WhiteHub
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <div class="soluciones">
                        <li>
                            <a href="/#/soluciones">Ver soluciones</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown">Jesus Ruiz
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <img style="width:15px;
                                                height:15px;
                                                border:10px sol" src="/media/usuario-negro.png">Profile</a>
                            </li>
                            <li>
                                <a href="#">
                                    <img style="width:15px;
                                                height:15px;
                                                border:10px sol" src="/media/Ajustes-negro.png"> Settings</a>
                            </li>

                            <li>
                                <a href="/#/principal">
                                    <img style="width:15px;
                                                height:15px;
                                                border:10px sol" src="/media/salida-negro.png"> Log Out</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </nav>
        <div class="container py-5">
            <h2>Collapsible Sidebar Using Bootstrap 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h3>Lorem Ipsum Dolor</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

{{outlet}}