<div class="container-fluid py-2" style="background-color: rgb(13, 108, 185)">
    <nav class="nav navbar-nav navbar-expand-sm bg-faded" style="font-family: Georgia, 'Times New Roman', Times, serif">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="nav-content">
            <ul class="navbar-nav">
                <li>
                    <div class="=colxl-4">
                        <!-- Brand -->
                        <a class="navbar-brand" style="color: white" href="#">
                            <h2>WhiteHub</h2>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse col-xl-10 justify-content-end" id="nav-content">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="col-xl-12">
                        {{#link-to "logged.principal" class="btn btn-primary"}}Home{{/link-to}}
                    </div>
                </li>
                <li class="nav-item">
                    <div class="col-xl-12">
                        <a class="nav-link" style="color: white" href="#">Acerca De</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="col-xl-12">
                        {{#link-to "registro" class="btn btn-outline-success"}}Registro{{/link-to}}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<form id="frmLoginCliente" {{action "send" on='submit'}}>
    <div class="container bg-light">
        <div class="row" style="align-items: center;display: flex;justify-content: center; padding: 3rem">
            <div class="card" style="font-family: Georgia, 'Times New Roman', Times, serif">
                <div class="card-header" style="background-color: rgb(13, 108, 185)">
                    <h2 style="color: white; text-align: center; height: 20px;">Login</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <label ID="lblUsuario">Email: </label>
                            <input ID="txtUsuario" placeholder="correo@ejemplo.com" style="width: 331px" required type="email" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <label ID="lblPassword">Contraseña: </label>
                            <input ID="txtPassword" required type="password" style="width: 331px" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            {{!-- {{#link-to "inicio" class="btn btn-success"}}Ingresar{{/link-to}}  --}}
                            <button type="submit" {{action "send"}}>Ingresar</button>
                            {{#link-to "logged.principal" class="btn btn-light"}}Cancelar{{/link-to}}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-12 col-xl-12">
                            No tienes una cuenta.{{#link-to "registro" class="btn btn-link"}}Registrate{{/link-to}}
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</form>
{{outlet}}