<div class="wrapper">
    <!-- Sidebar -->
    <div id="sidebar">
        <div class="sidebar-header">
            <img style="width:50px;
                                        height:50px;
                                        border-radius:50px;
                                        border:10px sol;
                                        background-color: rgb(13, 108, 185);" class="img-rounded" src="/media/logo.jpeg">
            <h4>Hospital General Pachuca</h4>
        </div>
        <ul class="list-unstyled">
            <li class="active">
                <a href="/#/inicio">
                    <img style="width:25px;
                            height:25px;
                            border-radius:25px;
                            border:10px sol" src="/media/casa.png"> &nbsp;Home
                </a>
                <br>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    <img style="width:25px;
                            height:25px;
                            border-radius:25px;
                            border:10px sol" src="/media/hdd.png"> &nbsp;Espacios de trabajo
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        {{#link-to "notificaciones" class="btn btn-primary"}}Mantenimiento{{/link-to}}
                    </li>
                    <li>
                        <a href="#" aria-expanded="false">
                            <img style="width:10px;
                                        height:10px;
                                        border-radius:10px;
                                        border:10px sol" src="/media/cruz.png"> &nbsp;Añadir espacio de trabajo
                        </a>
                    </li>
                </ul>
                <br>
                <a href="#">
                    <img style="width:25px;
                                height:25px;
                                border-radius:25px;
                                border:10px sol" src="/media/Ajustes.png"> Configuracion de los espacios de trabajo
                </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- /#sidebar-wrapper -->
    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-left">
                    <li class="nav-item active">
                        <button style="width: 50px; height: 50px;" type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <img width="25px" height="30px" src="/media/menu.png">
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="nav-item">
                        <a href="./Inicio.html" style="font-family: Georgia, 'Times New Roman', Times, serif;
                                font-size: xx-large">WhiteHub
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a href="/#/soluciones">Ver soluciones</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> John Smith
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-user glyphicon glyphicon-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope glyphicon glyphicon-envelope"></i> Inbox
                                    <span class="badge">7</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-gear glyphicon glyphicon-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/#/principal">
                                    <i class="fa fa-power-off glyphicon glyphicon-log-out"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container py-3">
            <h4 style="color: darkcyan">Actividades Recientes</h4>

            <div class="row p-1">
                <div class="col-sm-6 col-xl-6 col-lg-6 col-cd-6">
                    <section style="width: 29rem;" class="form-elegant scrollbar-light-blue">
                        <div class="card" style="margin-left: -1rem; ">
                            <div class="row offset-sm-1">
                                <div class="row ">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start">
                                        <img style="width:50px;
                                                                height:50px;
                                                                border-radius:50px;
                                                                border:10px sol" class="img-rounded" src="/media/u2.jpeg">
                                    </div>
                                    <div class="row col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                        <div class="col-xl-3">
                                            <h5 style="color:limegreen">Item</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <label>
                                                    Reporte por: Jesus
                                                </label>

                                                <label>
                                                    <h6>12/06/18 09:45</h6>
                                                </label>

                                                <a class="btn btn-link" data-toggle="collapse" href="#multiCollapseExample1" style="background-color: white; color:rgb(41, 94, 155)">Comentar</a>

                                            </div>
                                        </div>


                                        <div class="row ">
                                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                                <div class="card card-body ">

                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="3" id="comment" placeholder=" Escribir Comentario"></textarea>
                                                    </div>
                                                    <button class="btn btn-success" type="button">Enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start">
                                        <img style="width:50px;
                                                                    height:50px;
                                                                    border-radius:50px;
                                                                    border:10px sol" class="img-rounded" src="/media/u3.jpeg">
                                    </div>
                                    <div class="row col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                        <div class="col-xl-3">
                                            <h5 style="color:limegreen">Item</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <label>
                                                    Reporte por: Jesus
                                                </label>

                                                <label>
                                                    <h6>12/06/18 09:45</h6>
                                                </label>

                                                <a class="btn btn-link" data-toggle="collapse" href="#multiCollapseExample2" style="background-color: white; color:rgb(41, 94, 155)">Comentar</a>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                                                <div class="card card-body">
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="3" id="comment" placeholder=" Escribir Comentario"></textarea>
                                                    </div>

                                                    <button class="btn btn-success" type="button">Enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start">
                                        <img style="width:50px;
                                                                        height:50px;
                                                                        border-radius:50px;
                                                                        border:10px sol" class="img-rounded" src="/media/u4.jpeg">
                                    </div>
                                    <div class="row col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                        <div class="col-xl-3">
                                            <h5 style="color:limegreen">Item</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <label>
                                                    Reporte por: Jesus
                                                </label>

                                                <label>
                                                    <h6>12/06/18 09:45</h6>
                                                </label>

                                                <a class="btn btn-link" data-toggle="collapse" href="#multiCollapseExample3" style="background-color: white; color:rgb(41, 94, 155)">Comentar</a>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="collapse multi-collapse" id="multiCollapseExample3">
                                                <div class="card card-body">
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="3" id="comment" placeholder=" Escribir Comentario"></textarea>
                                                    </div>

                                                    <button class="btn btn-success" type="button">Enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start">
                                        <img style="width:50px;
                                                                        height:50px;
                                                                        border-radius:50px;
                                                                        border:10px sol" class="img-rounded" src="/media/u5.jpeg">
                                    </div>
                                    <div class="row col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                        <div class="col-xl-3">
                                            <h5 style="color:limegreen">Item</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <label>
                                                    Reporte por: Jesus
                                                </label>

                                                <label>
                                                    <h6>12/06/18 09:45</h6>
                                                </label>

                                                <a class="btn btn-link" data-toggle="collapse" href="#multiCollapseExample4" style="background-color: white; color:rgb(41, 94, 155)">Comentar</a>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="collapse multi-collapse" id="multiCollapseExample4">
                                                <div class="card card-body">
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="3" id="comment" placeholder=" Escribir Comentario"></textarea>
                                                    </div>

                                                    <button class="btn btn-success" type="button">Enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start">
                                        <img style="width:50px;
                                                                            height:50px;
                                                                            border-radius:50px;
                                                                            border:10px sol" class="img-rounded" src="/media/u6.jpeg">
                                    </div>
                                    <div class="row col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                        <div class="col-xl-3">
                                            <h5 style="color:limegreen">Item</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <label>
                                                    Reporte por: Jesus
                                                </label>

                                                <label>
                                                    <h6>12/06/18 09:45</h6>
                                                </label>

                                                <a class="btn btn-link" data-toggle="collapse" href="#multiCollapseExample5" style="background-color: white; color:rgb(41, 94, 155)">Comentar</a>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="collapse multi-collapse" id="multiCollapseExample5">
                                                <div class="card card-body">
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="3" id="comment" placeholder=" Escribir Comentario"></textarea>
                                                    </div>

                                                    <button class="btn btn-success" type="button">Enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 justify-content-start">
                                        <img style="width:50px;
                                                                                height:50px;
                                                                                border-radius:50px;
                                                                                border:10px sol" class="img-rounded" src="/media/u1.jpeg">
                                    </div>
                                    <div class="row col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                        <div class="col-xl-3">
                                            <h5 style="color:limegreen">Item</h5>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <label>
                                                    Reporte por: Jesus
                                                </label>

                                                <label>
                                                    <h6>12/06/18 09:45</h6>
                                                </label>

                                                <a class="btn btn-link" data-toggle="collapse" href="#multiCollapseExample6" style="background-color: white; color:rgb(41, 94, 155)">Comentar</a>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="collapse multi-collapse" id="multiCollapseExample6">
                                                <div class="card card-body">
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="3" id="comment" placeholder=" Escribir Comentario"></textarea>
                                                    </div>

                                                    <button class="btn btn-success" type="button">Enviar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row offset-lg-1">
                                <div class="col-sm-11 col-md-11 col-lg-11 col-xl-11">
                                    <div class="col-sm-12 col-md-11 col-lg-11 col-xl-11">
                                        <button type="button" style="background-color: rgb(13, 108, 185)" class="btn btn-block btn-info">
                                            <img width="19px" height="15px" src="/media/flecha-abajo.png" class="offset-lg-5">
                                        </button>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>

                <!--|||||||||||||[ Categorias ]|||||||||||||-->
                <div class=" col-sm-6 col-xl-6 col-lg-6 col-cd-6 ">
                    <section style="width: 26rem;  margin-left: 50px;" class="form-dark ">

                        <!--||||||||||Crear Plantilla |||||||||||-->
                        <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12 " style="
                         align-items: center;display: flex;justify-content: center;">

                            <div class="form-elegant card " style="width: 20rem; ">
                                <div class="card-header">
                                    <h3 style="">Crear plantilla</h3>
                                </div>
                                <div class="card-body">
                                    <img style="width: 50%;
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto;" height="125rem" width="150rem" src="/media/crear_plantilla.png">
                                    <p class="card-text" style="text-align: center">Si lo deseas puedes personalizar tu propia plantilla</p>
                                    <a href="/#/crear_plantillas" class="btn btn-primary" style="width: 50%;
                                            display: block;
                                            margin-left: auto;
                                            margin-right: auto;">Crear</a>

                                </div>
                            </div>
                        </div>

                        <!--||||||||||||Extras|||||||||||||-->
                        <br>

                        <div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12 " style="align-items: center;display: flex;justify-content: center;">

                            <div class="form-elegant card " style="width: 20rem; border-color: lightsteelblue; border-style: outset;">
                                <div class="card-header">
                                    <h3 style="color: darkcyan; text-align: center">Catalogo de plantillas</h3>
                                </div>
                                <div class="card-body">
                                    <img style="width: 50%;
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;" height="125rem" width="150rem" src="/media/probar_plantilla.png">
                                    <p class="card-text" style="text-align: center">Descubre la variedad de plantillas con las que contamos</p>
                                    <a href="#" class="btn btn-primary" style="width: 50%;
                                        display: block;
                                        margin-left: auto;
                                        margin-right: auto;">Probar</a>

                                </div>
                            </div>
                        </div>

                    </section>

                </div>

            </div>

        </div>


    </div>
</div>
 {{outlet}}